@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  // Container
  .fullpage-container {
    min-height: 100vh;
    min-height: 100dvh;
    min-width: 100vw;
    min-width: 100dvw;
    @apply bg-dark-black;
    box-shadow: inset 0px 100px 190px rgba(255, 255, 255, 0.25),
      inset 0px -20px 128px #000000;
    position: relative;

    > .fullpage-item {
      height: 100vh;
      height: 100dvh;
      @apply overflow-y-auto md:overflow-y-hidden;
    }
  }

  // Typography
  .text {
    font-family: "Inter";
    font-style: normal;

    &-display {
      &-lg {
        font-weight: 700;
        font-size: 57px;
        line-height: 64px;
      }

      &-md {
        font-weight: 600;
        font-size: 45px;
        line-height: 52px;
      }

      &-sm {
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
      }
    }

    &-headline {
      @apply font-normal;
      &-lg {
        font-size: 32px;
        line-height: 40px;
      }
      &-md {
        font-size: 28px;
        line-height: 36px;
      }
      &-sm {
        font-size: 24px;
        line-height: 32px;
      }
    }

    &-title {
      @apply font-medium;
      &-lg {
        font-size: 22px;
        line-height: 28px;
      }
      &-md {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
      }
      &-sm {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
      }
    }

    &-button {
      @apply font-medium;
      &-lg {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 1.25px;
      }
      &-md {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 1px;
      }
      &-sm {
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 1px;
      }
    }
  }
}
