@tailwind base;
@tailwind components;
@tailwind utilities;

.fullpage-container {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: block mandatory;
  @apply bg-dark-black;
  box-shadow: inset 0px 100px 190px rgba(255, 255, 255, 0.25),
    inset 0px -20px 128px #000000;
  position: relative;

  > .fullpage-item {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    overflow-y: hidden;
  }
}

// Typography
.text {
  font-family: "Inter";
  font-style: normal;

  &-display {
    &-lg {
      font-weight: 700;
      font-size: 57px;
      line-height: 64px;
    }

    &-md {
      font-weight: 600;
      font-size: 45px;
      line-height: 52px;
    }

    &-sm {
      font-weight: 400;
      font-size: 36px;
      line-height: 44px;
    }
  }

  &-headline {
    @apply font-normal;
    &-lg {
      font-size: 32px;
      line-height: 40px;
    }
    &-md {
      font-size: 28px;
      line-height: 36px;
    }
    &-sm {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &-title {
    @apply font-medium;
    &-lg {
      font-size: 22px;
      line-height: 28px;
    }
    &-md {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.1px;
    }
    &-sm {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.1px;
    }
  }

  &-button {
    @apply font-medium;
    &-lg {
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 1.25px;
    }
    &-md {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 1px;
    }
    &-sm {
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 1px;
    }
  }
}
