.container {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: block mandatory;
  scroll-behavior: smooth;

  & > section {
    scroll-snap-align: start;
    height: 100%;

    &.--index-2 {
      @apply bg-pink-50;
    } 
    &.--index-3 {
      @apply bg-red-100;
    } 
    &.--index-4 {
      @apply bg-blue-200;
    } 

    & > h1 {
      font-size: 2rem;
      text-shadow: 0 0 5px #333;
    }
  }
}
